@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Roboto";
}

h1 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    color: #DD4124;
}




.bg-container {
    overflow-y: auto;
    background-color: #afedea;
    height: 100vh;
}

.graph-container {
    background-color: #ffffff;
    border-radius: 20px;
}

.main-names {
    font-weight: bold;
}

.list {
    width: 50%;
}

@media (min-width:992px) {
    .list {
        width: 25%;
    }
}

canvas {

    width: 60% !important;
    height: 250px !important;

}

.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:992px) {
    .graph {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        align-items: center;
    }

    canvas {

        width: 30% !important;
        height: 300px !important;

    }
}

.button-background {
    background-color: blue;
    color: #ffffff;
}

button {
    background-color: #dae2ec;
    font-family: "Roboto";
    font-size: 12px;
    border-width: 0;
    margin-right: 10px;
    margin-bottom: 10px;

}